@model IEnumerable<rysaBeauty.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Stockage</h1>

<p>
    <a asp-action="Create">Creer une Entree</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fournisseur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix_Gros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix_Vente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite_Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite_Vendu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fournisseur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix_Gros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix_Vente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantite_Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantite_Vendu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Numero_ID">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Numero_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Numero_ID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
